@{
    ViewBag.Title = "Home Page";
}

<main>
    <section class="row" aria-labelledby="aspnetTitle">
        <h1 id="title" class="mt-3">Bienvenido a AdmiCondo</h1>
        <p class="lead">
            AdmiCondo es una solución integral para la administración eficiente de condominios. Este sistema permite gestionar de manera intuitiva y organizada las siguientes funcionalidades clave:
        </p>
        <ul class="lead">
            <li><strong>Gestión de Cobros:</strong> Creación, modificación e inactivación de cobros para los residentes.</li>
            <li><strong>Administración de Casas:</strong> Registro, edición e inactivación de casas dentro de los condominios.</li>
            <li><strong>Gestión de Servicios:</strong> Adición, modificación e inactivación de servicios incluidos en los condominios.</li>
        </ul>
        <img src="~/Images/Logo.png"
             alt="AdmiCondo"
             style="height: 400px;
            width: 400px;
            margin: 0 auto;
            display: block;
            object-fit: cover;
            box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.1);
            transition: transform 0.3s ease, box-shadow 0.3s ease;"
             onmouseover="this.style.transform='scale(1.1)'; this.style.boxShadow='0px 4px 6px rgba(0, 0, 0, 0.15)';"
             onmouseout="this.style.transform='scale(1)'; this.style.boxShadow='0px 2px 3px rgba(0, 0, 0, 0.1)';" />


    </section>

</main>